.contact-form {

  h2 {
    margin: 0 auto;
    text-align: center;
  }

  &.container {
    padding: 0;
  }

  form {

    .form-row {
      margin: 0 auto;

      .tag-row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .btn {
          padding: 8px 24px;
          margin-bottom: 8px;
        }
      }
    }
  }

  .action-btns {
    margin: 0 auto;
    justify-content: space-around;
  }
}